*{
    margin: 0px;
    padding: 0px;
}
html{
  background-color: #EDEDED;
}
.head3 li:hover .mega-box, li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .mega-box li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
    text-decoration: none;
  }
  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
  }
  .mega-box header{
    font-weight: bold;
  }
  .mega-box .content{
    background: #fcfdff;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .mega-box .content .row{
    width: calc(25% - 30px);
    line-height: 45px;
  }





.element{
    background-color: #EDEDED;
    height: 40px;
    width: auto;
}
.container-fluid{
    background-color: #fcfdff;
}
.img{
  background-color: lightgrey;
  border: 1px solid white;
  border-radius: 100px;
  height: 50px;
}
.col a{
  text-decoration: none;
}
.artical1{
  background-color: #F5F5F5;
}
.btn{
  background-color: #ffffff;
  text-decoration: none;
  border: 0.1rem solid black;
}
.btn:hover{
  background-color: black;
  color: #ffffff;
}
.img1 div a{
  text-decoration: none;
}