*{
    margin: 0px;
    padding: 0px;;
}
a{
    text-decoration: none;
}
h2{
    font-weight: bolder;
}
header{
    z-index: 1005;
    width: 100%;
    background-color: #fff;
    word-break: normal;
    line-height: normal;
}
.head1{
    display: flex;
    height: 39px;
    justify-content: end;
}
.head1 .elements{
    margin-right: 25px;
}.head1 li{
    list-style: none;
  }
.head3 li{
    list-style: none;
  }
  .head1 li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .head1 li a:hover{
    background: #3A3B3C;
  }
  .head1 .mobile-item{
    display: none;
  }
  .head3 li:hover .mega-box, li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .mega-box li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
    text-decoration: none;
  }
  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
  }
  .mega-box header{
    font-weight: bold;
  }
  .mega-box .content{
    background: #fcfdff;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .mega-box .content .row{
    width: calc(25% - 30px);
    line-height: 45px;
  }
.head2{
    display: flex;
    justify-content:stretch;
}
.logo{
    margin-left: 20px;
    height: 40px;
    width: 30%;
}
.logo img{
    width: 103px;
}
.searchbar{
    margin-left: 4%;
    width: 691px;
}
#commonHeaderSearch{
    width: 691px;
    height: 40px;
    border: 2px solid black;
    border-radius: 12px;
}
.searchIcon img{
    height: 20px;
    width: 20px;
    position: absolute;
    right:44%;
    top:6.9%;
}
.signin{
    padding-left: 20%;
    width: 100%;
}
.c{
    padding-right: 2%;
    padding-left: 4%;
}
.head3{
    margin-left: 20px;
    display: flex;
    height: 55px;
    padding-top:1.2%;
}
.left_nav{
    width: 65%;
    list-style: none;
    display: flex;
    justify-content: start;
}
.left_nav li{
    margin-right: 15px;
}
.right_nav{
    margin-left: 15%;
    list-style: none;
    display: flex;
    justify-content: end;
}
.right_nav li{
    margin-left: 10px;
}
.icon_link{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 165px;
    align-items: center;
    background-color: #ffffff;
    
}
.icon_link img{
    display: block;
    margin: 0px auto;
}
.icon_link a{
    text-decoration: none;
    color: black;
}
.icon_link a:hover{
    text-decoration: underline;
    color: black;
}
.article2{
    display: flex;
    justify-content:space-around;
    width: 100%;
    padding-left: auto;
}
.article2 img{
    max-height: 241px;
    min-height: 241px;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}
.article{
    display: flex;
    justify-content:space-around;
    width: 100%;
    padding-left: auto;
}
.article img{
    max-height: 241px;
    min-height: 241px;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}
.lower_links{
    display: flex;
    justify-content: center;
}.learn{
    border: 1px solid black;
    background-color: #ffffff;
}
.learn a{
    text-decoration: none;
}
.learn:hover{
    background-color: black;
    color: #ffffff;
    text-decoration: none;
}.doc{
    font-size: 48px;
    font-weight: 600;
}
span{
    font-size: 16px;
    font-weight: 500;
}
.imgtitle{
    font-size: 32px;
    font-weight: 600;
}
.footer{
    padding-left: 150px;
    padding-right: 150px;
    background-color: lightgrey;
    padding-top: 50px;
}
.upfooterlinks{
    display: flex;
    justify-content: start;
    column-gap: 50px;
}
.upper{
    display: flex;
    justify-content: start;
    column-gap: 300px;
}
.imagesfooter{
    display: flex;
    justify-content: start;
    column-gap: 10px;
    padding: 10px;
}
.stic{
    display: flex;
    width: 100%;
    height: 30px;
    position: fixed;
    color: blue;
    bottom: 0px;
    background-color: white;
}
.stic span{
    color: black;
    right: 0px;
}
.img{
    background-color: lightgrey;
    border: 1px solid white;
    border-radius: 100px;
    height: 50px;
}
.container_it{
    background-color: lightgrey;
}
.imgdiv{
    background-color: #ffffff;
    height: 400px;
    width: 464px;
    border: 1px solid white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
#email{
    border: 0.1rem solid black;
    height: 3rem;
    width: 20rem;
    border-radius: 0.3rem;
}
#dropdown{
    border: 0.1rem solid black;
    height: 3rem;
    width: 15rem;
    border-radius: 0.3rem;
}